<% provide(:title, 'All users') %>
<h1>All users</h1>

<%=  will_paginate %>

<ul class="users">
	<%= render @users %> <!-- looking for user partial _user.html.erb, runs a loop through all users -->
</ul>

<%= will_paginate %>